.about {
    position: relative;
    //border: 1px solid blue;
    text-align: center;
    margin: 350px 0 500px;

    &__textbox {
        position: relative;
        width: 100%; max-width: 60%;
        margin: 0 auto 150px;
        font-size: 20px;
        opacity: .5;
        z-index: 3;

        span {
            text-decoration: underline;
            transform: scale(1.1);
        }

        @include rwd--width(800) {
            max-width: 84vw;
            margin: 0 auto 180px;
        }
    }

    &__icon__grid {
        background-color: rgba(white, .75);
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 80px;
        padding: 50px 8vw;
        z-index: 3;
        border: 1px solid red;

        .corner {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%) scale(.5);
            opacity: .65;
        }

        .icon__grid__item {
            .item {
                &__img__container {
                    display: flex;
                    margin: 0 auto 20px;
                    justify-content: center;
                    max-height: 350px;
                    //border: 1px solid blue;

                    img {
                        width: 100%; max-width: 80%;
                    }
                }

                &__textbox {
                    padding: 0 30px; 
                    
                    .textbox__heading {
                        margin-bottom: 8px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
            }
        }

        @include rwd--width(800) {
           // border: 1px solid red;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 130px;

            &::after {
                content: '';
                position: absolute;
                height: 86%; width: 10px;
                background-color: rgba(#E4485F, .4);
                top: 7%; left: 16%;
                margin-left: 8vw;
                z-index: -1;
            }

            .corner { display: none }

            .icon__grid__item {
                display: flex;
                align-items: center;
                //border: 1px solid black;

                .item {
                    &__img__container {
                        margin-bottom: 0;
                        flex: 0 0 40%;
                        //border: 1px solid red;

                        img { max-width: 100% }
                    }

                    &__textbox {
                        text-align: left;
                       // border: 1px solid palevioletred;
                        margin-left: 30px;
                    }
                }
            }
        }

        @include rwd--width(600) {
            &::after { display: none }

            .icon__grid__item {
                display: block;
                //border: 1px solid red;

                .item {
                    &__img__container {
                        max-height: 300px;
                        img { max-width: 80% }
                    }
                    
                    &__textbox {
                        text-align: center;
                        margin: 20px 0 0 0;
                        padding: 0;
                    }
                }
            }
        }
    }

    .wave {
        &--1 {
            position: absolute;
            //border: 1px solid red;
            bottom: 0; left: 50%;
            transform: translateX(-50%) translateY(300px);
            opacity: .5;
            border-color: purple;
            width: 50vw;

            @include rwd--width(800) {
                width: 100%; max-width: 75vw;
            }
        }
    }
}