.recipe-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(white, .9);
    z-index: 4;
    margin-bottom: 500px;
    //border: 1px solid red;

    &__textbox {
        position: relative;
        width: 50%;
        text-align: center;
        align-self: center;
       // margin-bottom: 15vh;
        font-size: 20px;
        //border: 1px solid blue;

        @include rwd--width(800) {
            width: 84%;
        }
    }

    &__img__container {
        width: 50%;
        display: flex;
        //border: 5px solid black;

        .hexagon {
            width: 100%;
            transform: translateX(-20%) translateY(100px);

            @include rwd--width(764) {
                transform: translateX(-20%) translateY(100px) scale(1.15);
            }

            @include rwd--width(600) {
                transform: translateX(-20%) translateY(150px) scale(1.25);
            }
        }
    }

    .recipe {
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-self: center;
        padding: 200px 8vw 0 0;
        width: 100%; height: 100%;
        //border: 1px solid green;

        &__img__container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%; //height: min-content;
            //border: 1px solid black;

            img {
                max-width: 100%;
                height: 80vh; max-height: 500px;
                //border: 1px solid purple;
                
                @include rwd--width(764) {
                    margin-left: 30px;
                    max-height: 72vh;
                }

                @include rwd--width(600) {
                    margin-left: 15px;
                }
            }
        }

        &__textbox {
            text-align: center;
            align-self: center;
            width: 50%;
            //border: 1px solid red;

            small span {
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #E14B15;
            }

            .textbox {
                &__title {
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 35px;
                    letter-spacing: 5px;
                    margin-top: 5px;
                }

                &__ingredients {
                    list-style: none;
                    margin: 20px 0 30px;

                    li {
                        margin-bottom: 3px; 
                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        span {
                            font-size: 22px;
                            color: #E14B15;
                            margin-right: 3px;
                        }
                    }
                }

                &__tags span {
                    display: inline-flex;
                    text-transform: uppercase;
                    white-space: nowrap;
                    font-weight: 300;
                    letter-spacing: 1px;
                    border: 1px solid black;
                    padding: 3px 15px;
                    margin: 0 10px 10px;
                    color: #E14B15
                }
            }

            @include rwd--width(764) {
                .textbox {
                    &__title {
                        font-size: 25px;
                        //font-weight: 700;
                    }

                    &__ingredients li {
                        font-size: 16px;
                        span { font-size: 19px }
                    }

                    &__tags span {
                        padding: 2px 12px;
                        font-size: 15px;
                    }
                }
            }
        }

        &--2, &--3, &--4 {
            .recipe__img__container, .recipe__textbox {
                opacity: 0;
            }
        }

        &--3 > .recipe__img__container img {
            transform: scale(.98);
        }

        @include rwd--width(600) {
           // padding-right: 5vw;
            &__img__container {
                margin-top: 100px;
            }
            &__textbox {
                margin-top: 120px;
                width: 55%;
                .textbox {
                    position: relative;

                    &__heading { 
                        position: absolute;
                        //border: 2px solid black; 
                        transform: translateY(-120px) translateX(-32vw);
                        width: 84vw;
                    }
                }
            }
        }
    }

    .wave {
        &--2 {
            //border: 1px solid red;
            position: absolute;
            bottom: 0; left: 50%;
            transform: translateX(-50%) translateY(360px);
            max-width: 84vw;
            opacity: .5;
        }
    }
}